body {
    overflow-x: hidden;
    padding: 20px;
}

button {
    margin-bottom: 20px;
}

img {
    width: 120px;
    padding: 5px;
    border: 1px solid white;
}

.select {
    border: 1px solid red;
}