html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 60px;
    background-image: url("/static/image/weather.png");
}

.container {
    height: 100%;
}

.img-error {
    width: 100%;
}

.padding {
    height: 60px;
}

@media (max-width: 990px) {
    footer {
        display: none;
    }

    body {
        padding-top: 2px;
    }

    .col-lg-3 {
        padding: 0 5px;
    }

    .col-lg-9 {
        padding: 0 5px;
    }
}

.middle {
    padding-bottom: 0;
}

.middle .body {
    padding: 0;
}