html {
    height: 100%;
}

body {
    background-image: url("/static/image/weather.png");
    height: 100%;
}

.register {
    width: 380px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%);
}

.register h3 {
    color: #fff;
    text-align: center;
    height: 60px;
    font-size: 30px;
}

.register .copyright {
    text-align: center;
    color: #999;
    padding-top: 10px;
}

.register-wrap {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.3);
}

.register-wrap .layui-input {
    height: 40px;
}

.register-wrap .verify-img {
    width: 110px;
    height: 35px;
}

.register-wrap #register-btn {
    width: 100%;
}

.hidden {
    display: none;
}

footer {
    height: 30px;
    font-size: 16px;
}

footer a {
    font-size: 17px;
}

footer a:hover {
    text-decoration: underline;
}