<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybtis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.stackoverflow.blog.dao.PermissionDao">

    <resultMap id="permissionMap" type="permissionPO">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="code" column="code"></result>
    </resultMap>

    <select id="selectByPage" resultMap="permissionMap" resultType="permissionPO">
        select * from permission
        <where>
            <if test="searchMap != null">
                <if test="searchMap.name != null">
                    name = #{searchMap.name}
                </if>
                <if test="searchMap.code != null">
                    and code = #{searchMap.code}
                </if>
            </if>
        </where>
        order by lower(code) limit #{start},#{limit}
    </select>

    <select id="selectByCondition" resultMap="permissionMap" resultType="permissionPO">
        select * from permission
        <where>
            <if test="name != null">
                name = #{name}
            </if>
            <if test="code != null">
                and code = #{code}
            </if>
        </where>
        order by lower(code)
    </select>

    <select id="selectById" resultMap="permissionMap" resultType="permissionPO">
        select * from permission where id = #{id}
    </select>

    <insert id="insert" parameterType="permissionPO">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            select uuid()
        </selectKey>
        insert into permission (id,name,code)
        values (#{id},#{name},#{code})
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert into permission (id,name,code)
        values
        <foreach collection="list" item="item" separator=",">
            ((select uuid()),#{item.name},#{item.code})
        </foreach>
    </insert>

    <delete id="deleteById" parameterType="string">
        delete from permission where id = #{id}
    </delete>

    <delete id="batchDeleteById" parameterType="list">
        delete from permission where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="permissionPO">
        update permission
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="code != null">
                code = #{code},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="batchUpdate" parameterType="list">
        <foreach collection="list" item="item" open="" close="" separator=";">
            update permission
            <set>
                <if test="item.name != null">
                    name = #{item.name},
                </if>
                <if test="item.code != null">
                    code = #{item.code},
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>

</mapper>