<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybtis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.stackoverflow.blog.dao.UserDao">

    <resultMap id="userMap" type="userPO">
        <id property="id" column="id"></id>
        <result property="email" column="email"></result>
        <result property="nickname" column="nickname"></result>
        <result property="password" column="password"></result>
        <result property="salt" column="salt"></result>
        <result property="deleteAble" column="deleteable"></result>
    </resultMap>

    <select id="selectByPage" resultMap="userMap" resultType="userPO">
        select * from user
        <where>
            <if test="searchMap != null">
                <if test="searchMap.email != null">
                    email = #{searchMap.email}
                </if>
                <if test="searchMap.nickname != null">
                    and nickname = #{searchMap.nickname}
                </if>
                <if test="searchMap.password != null">
                    and password = #{searchMap.password}
                </if>
                <if test="searchMap.salt != null">
                    and salt = #{searchMap.salt}
                </if>
                <if test="searchMap.deleteAble != null">
                    and deleteable = #{searchMap.deleteAble}
                </if>
            </if>
        </where>
        order by lower(nickname) limit #{start},#{limit}
    </select>

    <select id="selectByCondition" resultMap="userMap" resultType="userPO">
        select * from user
        <where>
            <if test="email != null">
                email = #{email}
            </if>
            <if test="nickname != null">
                and nickname = #{nickname}
            </if>
            <if test="password != null">
                and password = #{password}
            </if>
            <if test="salt != null">
                and salt = #{salt}
            </if>
            <if test="deleteAble != null">
                and deleteable = #{deleteAble}
            </if>
        </where>
        order by lower(nickname)
    </select>

    <select id="selectById" resultMap="userMap" resultType="userPO">
        select * from user where id = #{id}
    </select>

    <insert id="insert" parameterType="userPO">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            select uuid()
        </selectKey>
        insert into user (id,email,nickname,password,salt,deleteable)
        values (#{id},#{email},#{nickname},#{password},#{salt},#{deleteAble})
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert into user (id,email,nickname,password,salt,deleteable)
        values
        <foreach collection="list" item="item" separator=",">
            ((select uuid()),#{item.email},#{item.nickname},#{item.password},#{item.salt},#{item.deleteAble})
        </foreach>
    </insert>

    <delete id="deleteById" parameterType="string">
        delete from user where id = #{id}
    </delete>

    <delete id="batchDeleteById" parameterType="list">
        delete from user where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="userPO">
        update user
        <set>
            <if test="nickname!=null">
                nickname=#{nickname},
            </if>
            <if test="email!=null">
                email=#{email},
            </if>
            <if test="password!=null">
                password=#{password},
            </if>
            <if test="salt!=null">
                salt=#{salt},
            </if>
            <if test="deleteAble!=null">
                deleteable=#{deleteAble},
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="batchUpdate" parameterType="list">
        <foreach collection="list" item="item" open="" close="" separator=";">
            update user
            <set>
                <if test="item.nickname!=null">
                    nickname=#{item.nickname},
                </if>
                <if test="item.email!=null">
                    email=#{item.email},
                </if>
                <if test="item.password!=null">
                    password=#{item.password},
                </if>
                <if test="item.salt!=null">
                    salt=#{item.salt},
                </if>
                <if test="item.deleteAble!=null">
                    deleteable=#{item.deleteAble},
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>

</mapper>