<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybtis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.stackoverflow.blog.dao.VisitDao">

    <resultMap id="visitMap" type="visitPO">
        <id property="id" column="id"/>
        <result property="url" column="url"/>
        <result property="status" column="status"/>
        <result property="ip" column="ip"/>
        <result property="agent" column="agent"/>
        <result property="referer" column="referer"/>
        <result property="date" column="date" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>

    <select id="selectByPage" resultMap="visitMap" resultType="visitPO">
        select * from visit
        <where>
            <if test="searchMap!=null">
                <if test="searchMap.url!=null">
                    url = #{searchMap.url}
                </if>
                <if test="searchMap.status!=null">
                    and status = #{searchMap.status}
                </if>
                <if test="searchMap.ip!=null">
                    and ip = #{searchMap.ip}
                </if>
                <if test="searchMap.agent!=null">
                    and agent = #{searchMap.agent}
                </if>
                <if test="searchMap.referer!=null">
                    and referer = #{searchMap.referer}
                </if>
                <if test="searchMap.date!=null">
                    and date = #{searchMap.date}
                </if>
            </if>
        </where>
        order by date desc limit #{start},#{limit}
    </select>

    <select id="selectByCondition" resultMap="visitMap" resultType="visitPO">
        select * from visit
        <where>
            <if test="url != null">
                url = #{url}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="ip != null">
                and ip = #{ip}
            </if>
            <if test="agent != null">
                and agent = #{agent}
            </if>
            <if test="referer != null">
                and referer = #{referer}
            </if>
            <if test="date != null">
                and date = #{date}
            </if>
        </where>
        order by date desc
    </select>

    <select id="selectById" resultMap="visitMap" resultType="visitPO">
        select * from visit where id = #{id}
    </select>

    <insert id="insert" parameterType="visitPO">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            select uuid()
        </selectKey>
        insert into visit (id,url,status,ip,referer,agent,date)
        values (#{id},#{url},#{status},#{ip},#{referer},#{agent},#{date})
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert into visit (id,url,status,ip,referer,agent,date)
        values
        <foreach collection="list" item="item" separator=",">
            ((select uuid()),#{item.url},#{item.status},#{item.ip},#{item.referer},#{item.agent},#{item.date})
        </foreach>
    </insert>

    <delete id="deleteById" parameterType="string">
        delete from visit where id = #{id}
    </delete>

    <delete id="batchDeleteById" parameterType="list">
        delete from visit where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="visitPO">
        update visit
        <set>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="ip != null">
                ip = #{ip},
            </if>
            <if test="agent != null">
                agent = #{agent},
            </if>
            <if test="referer != null">
                referer = #{referer},
            </if>
            <if test="date != null">
                date = #{date},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="batchUpdate" parameterType="list">
        <foreach collection="list" item="item" open="" close="" separator=";">
            update visit
            <set>
                <if test="item.url != null">
                    url = #{item.url},
                </if>
                <if test="item.status != null">
                    status = #{item.status},
                </if>
                <if test="item.ip != null">
                    ip = #{item.ip},
                </if>
                <if test="item.agent != null">
                    agent = #{item.agent},
                </if>
                <if test="item.referer != null">
                    referer = #{item.referer},
                </if>
                <if test="item.date != null">
                    date = #{item.date},
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <select id="selectByDate" resultMap="visitMap" resultType="visitPO">
        select * from visit where date between #{param1} and #{param2}
    </select>

</mapper>